<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47361600162-h5m036fd36k2u1duo2g5ruf5dqf35qdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47361600162-h5m036fd36k2u1duo2g5ruf5dqf35qdr</string>
	<key>API_KEY</key>
	<string>AIzaSyDsYj4yvuSp3_udS39onTAZRYTDM7xxEhI</string>
	<key>GCM_SENDER_ID</key>
	<string>47361600162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.codingloop.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>codingloop-21c8d</string>
	<key>STORAGE_BUCKET</key>
	<string>codingloop-21c8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47361600162:ios:9053e40c140e3beee505fb</string>
	<key>DATABASE_URL</key>
	<string>https://codingloop-21c8d-default-rtdb.firebaseio.com</string>
</dict>
</plist>